:root {
  --primary_text:   #1a3a6b;
  --primary_bg:     #ffffff;
  --primary_bg300:  #f4f8ff;

  --secondary_text: #333333;
  --secondary_bg:   #ffffff;
  --secondary_bg300: #e6e6e6;

  --primary_action_bg:  #1a3a6b;
  --primary_action_tx:  #ffffff;
  --secondary_action_bg:  #e07b39;
  --secondary_action_txt: #ffffff;

  --footer_bg:   #1a3a6b;
  --footer_text: #ffffff;
  --accent:      #e07b39;

  --alert:   #c21010;
  --warning: #bb980d;
  --info:    #3236ae;
}